{% extends 'base.html' %}

{% block encabezado %}
<h1> Vinos Agrupadas por Denominacion </h1>
{% endblock %}

{% block contenido %}
			{% regroup vinos by denominacion as grouped %}
			{% for group in grouped %}
				<h3>Denominacion: {{group.grouper}} ({{group.list|length}} vinos)</h3>
		    		{% for row in group.list %}
						<dt><b>Nombre: </b>{{row.nombre}}</dt>
						<dt><b>Bodega: </b>{{row.bodega.nombre}}</dt>
						<dt><b>Denominación de origen: </b>{{row.denominacion.nombre}}</dt>
						<dt><b>Precio: </b>{{row.precio}}</dt>
					{% endfor %}
					{% regroup denom by nombre as d %}
					{% for group2 in d %}
						{% if group2.grouper|stringformat:"s" == group.grouper|stringformat:"s" %}
							{% for row in group2.list %}
								<br>
								<dt><b>Precio medio de denominación: </b>{{row.average_precio}}</dt>
							{% endfor %}
						{% endif %}
					{% endfor %}
	    	{% endfor %}
{% endblock %}
