<html>

<head>
    <title>Sistema de Recomendacion</title>
</head>

<body>
    {% include 'header.html' %}
    <section>
        <h1>Libros y Puntuaciones para el Usuario {{idUser}}</h1>
        {% for puntuacion in puntuaciones %}
        <ul> ISBN: {{puntuacion.isbn}}</ul>
        {% for l in libros %}
        {% if l.isbn == puntuacion.isbn %}
        <ul> Título: {{l.titulo}}</ul>
        {% endif %}
        {% endfor %}
        <ul> Puntuacion: {{puntuacion.rating}}</ul>
        <br>
        {% empty %}
        <h2> El Usuario no ha puntuado ningún libro</h2>
        {% endfor %}
    </section>
</body>

</html>