<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <style>
   {% block style_css %}{% endblock %}
  </style>
</head>
<body>
  <header> 
  	{% block encabezado %}{% endblock %}
  	<nav>
  		<ul>
			<li><a href='/'>Inicio</a></li>
			<li><a href='/usuarios'>Usuarios registrados</a></li>
			<li><a href='/recetas'>Recetas</a></li>
			<li><a href='/sobre'>Sobre</a></li>
		</ul>
	</nav>
  </header>
  <section>
    {% block contenido %}{% endblock %}
  </section>
  {% block pie %}{% endblock %} 
</body>
</html>